.chat__name{
    font-size: xx-small ;
    position: absolute;
    top: -15px;
    font-weight: 800;
    
    }
    .time__stamp{
        margin-left: 10px;
        font-size: xx-small;
      

    }
