.add_contact{
    display: flex;
    padding: 15px 10px 0px 20px;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;

}
.add_contact:hover{
    background-color: #FF9F9F;
}
.info > h3 {
    margin-bottom: 5px;
    font-size: 16px;
}
.info {
    margin-left: 15px ;
}

